@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.category {
    position: relative;
    display: flex;
    width: 1440px;
    height: 1513px;
    border: 1px solid;
}

.gender {
    position: absolute;
    list-style-type: none;
    display: flex;
}

.sex {
    font: Raleway;
    font-weight: 600;
    font-size: 16px;
    color:#43464E;
    margin: 30px;
    
}

.green {
    position: absolute;
    margin: 30px;
    left: 50%;
}

.cartOnRight {
    position: absolute;
    right: 50px;
    color: #43464E;
}
.vector {
    padding: 7px;
}

.greeN {
    position: absolute;
}

.arow {
    position: relative;
    left: 8px;
    top: 7px;
}

.arow2 {
    position: relative;
    left: 4px;
}

.title {
    font-size: 42px;
    font-family: 'Raleway', sans-serif;
    width: 400px;
    margin-top: 120px;
    margin-bottom: 100px;
    margin-left: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;   
}

.product {
    margin: 40px;
}

.inscription {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 5px;
}

.name {
    margin-top: 20px;
    margin-bottom: 10px;
}

.price {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
